body {
    font-family: Arial;
    background-color: #ffe6f0;
    margin: 0;
}

header{
    background-color: #ff66b2;
    color: white;
    text-align: center;
    padding: 15px;
}
nav a {
    margin: 10px;
    color: white;
    text-align: none;
    font-weight: bold;
}
main {
    text-align: center;
    padding: 20px;
}
img {
    width: 300px;
    border-radius: 10px;
}